/* Flex container */
.flex { display: flex; }
.col { flex-direction: column; }
.colRev { flex-direction: column-reverse; }
.row { flex-direction: row; }
.rowRev { flex-direction: row-reverse; }
/* Justify-Content */
.startJC { justify-content: flex-start; }
.endJC { justify-content: flex-end; }
.centerJC { justify-content: center; }
.betweenJC { justify-content: space-between; }
.aroundJC { justify-content: space-around; }
/* Align-Items */
.startAI { align-items: flex-start; }
.endAI { align-items: flex-end; }
.centerAI { align-items: center; }
.stretchAI { align-items: stretch; }
.baselineAI { align-items: baseline; }
/* Align-Self */
.startAS { align-self: flex-start; }
.centerAS { align-self: center; }
@media screen and (max-device-width: 900px) {
   /* Flex container */
    .colM { flex-direction: column!important }
    .colRevM { flex-direction: column-reverse!important }
    .rowM { flex-direction: row!important }
    .rowRevM { flex-direction: row-reverse!important }
    /* Justify-Content */
    .startJCM { justify-content: flex-start!important }
    .endJCM { justify-content: flex-end!important }
    .centerJCM { justify-content: center!important }
    .betweenJCM { justify-content: space-between!important }
    .aroundJCM { justify-content: space-around!important }
    /* Align-Items */
    .startAIM { align-items: flex-start!important }
    .endAIM { align-items: flex-end!important }
    .centerAIM { align-items: center!important }
    .stretchAIM { align-items: stretch!important }
    .baselineAIM { align-items: baseline!important }
    /* Align-Self */
    .startASM { align-self: flex-start!important }
    .centerASM { align-self: center!important } 
}